body,
html {
  margin: 0;
  padding: 0;
  font-family: "Archivo", "Montserrat", "Helvetica", sans-serif;
  color: #002961;
  overflow-x: hidden;
}

/* ---------------------------------------- HEADER ---------------------------------------- */
.header {
  height: 4em;
  width: 100vw;
  background: #fcf5ee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}
.header * {
  text-decoration: none;
  color: inherit;
}
.header-icon {
  cursor: pointer;
  transition: color 100ms ease-in-out;
}
.header-icon:hover {
  color: #154890;
}

/* ---------------------------------------- CART-POPUP ---------------------------------------- */
.cart-popup {
  position: fixed;
  top: 0;
  right: -400px; /* Position initiale (cachée) */
  width: 400px;
  height: 100vh;
  background-color: #fcf5ee;
  box-shadow: 0px 0px 12px -4px #00000033;
  padding: 20px;
  box-sizing: border-box;
  transition: right 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 1000;
  overflow-y: scroll;
}
.cart-popup.open {
  right: 0; /* Position finale (visible) */
}
.close-cart {
  position: sticky;
  top: 0.1rem;
  right: 1.2rem;
  float: right;
  cursor: pointer;
  font-size: 1.6rem;
  z-index: 2;
  background: #ffffff4a;
  padding: 0.3rem 0.5rem;
  border-radius: 4rem;
  box-shadow: 0px 0px 12px -4px #00000033;
  transition: all 300ms ease-in-out;
}
.close-cart:hover {
  color: #810000;
}

.cart-item-card {
  background: #fff;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
#single-cart-item-price {
  text-align: right;
}
.cart-items-wrapper {
  margin-top: 3rem;
  overflow-y: scroll;
  padding-bottom: 4rem;
}

.cart-item-trash-icon {
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  color: #810000;
  cursor: pointer;
  opacity: 0;
  transition: all 150ms ease-in-out;
}
.cart-item-trash-icon:hover {
  position: absolute;
  top: 1.9rem;
  right: 2rem;
  color: #ba1212;
  cursor: pointer;
}
.cart-item-card:hover .cart-item-trash-icon {
  opacity: 1;
}
.validate-cart-button {
  position: fixed;
  bottom: 0;
  width: 400px;
  background: #fff;
  padding: 1.4rem 2rem;
  margin-left: -20px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
  background: #002961;
}
.validate-cart-button:hover {
  background: #154890;
}
.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}
.empty-cart svg {
  font-size: 5rem;
  color: #1548901c;
}
.empty-cart p {
  opacity: .2;
}

/* ---------------------------------------- HOMEPAGE ---------------------------------------- */
.products-grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  padding: 3rem;
}
.products-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 3rem;
}

.product-card {
  flex-basis: calc(
    33.333% - 20px
  ); /* Pour 3 colonnes, en soustrayant l'espacement */
  flex-grow: 1;
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  color: inherit;
}
.product-card:hover {
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.115);
}
.product-card img {
  margin-top: 1.33rem;
}
.product-card * {
  text-decoration: none;
  color: inherit;
}


.add-to-cart-plus-icon {
  position: absolute;
  padding: 0.3rem 0.35rem;
  background: #002961;
  color: #fff;
  border-radius: 6rem;
  cursor: pointer;
  top: 0.7rem;
  right: 0.7rem;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}
.add-to-cart-plus-icon:hover {
  background: #164990;
  transition: all 250ms ease-in-out;
}
.product-card:hover .add-to-cart-plus-icon {
  opacity: 1;
}

.search-bar {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  width: 300px;
  transition: border-color 0.3s ease-in-out;
}

.search-bar:focus {
  border-color: #007bff;
}

.products-grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 10rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination-btn {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 16px;
}

.pagination-btn:hover:not([disabled]) {
  background-color: #0056b3;
  border-color: #0056b3;
}

.pagination-btn:disabled {
  background-color: #cccccc;
  border-color: #cccccc;
  cursor: not-allowed;
  color: #666666;
}

@media (max-width: 768px) {
  .product-card {
    flex-basis: calc(20% - 20px); /* Pour 2 colonnes sur les écrans moyens */
  }
  .products-grid {
    padding: 0;
  }
  .products-grid-wrapper {
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .product-card {
    flex-basis: 100%; /* Une colonne pour les petits écrans */
  }
}
/* ---------------------------------------- CHECKOUT PAGE ---------------------------------------- */
.checkout-page {
  display: flex;
  align-items: flex-start;
  margin-top: 7rem;
  padding: 2rem;
}
.checkout-page p {
  margin: 0;
}
.checkout-page .cart-item-card {
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.129);
  margin: 1rem 0;
}

.cart-summary {
  flex-grow: 1;
}

.payment-form-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.payment-form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  background: #1e1e1e;
  padding: 2rem;
  border-radius: 1rem;
}
.payment-form input {
  font-size: 1rem;
  background: #000;
  margin-bottom: 10px;
  margin-top: 3px;
  line-height: 2em;
  border: none;
  padding: 5px 10px;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.3rem;
}
.payment-form button {
  border: none;
  background-color: #297def;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.payment-form button:hover {
  background-color: #006aff;
}
#total-price-checkout {
  text-align: right;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.checkout-page img {
  height: 70px;
  width: 70px;
  margin-right: 1rem;
  border-radius: 0.3rem;
}
.checkout-page .cart-item-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.product-info-checkout {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* ---------------------------------------- SUCCESS CHECKOUT PAGE ---------------------------------------- */
.order-success-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#payment-validated {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0;
}

.check-container {
  width: 6.25rem;
  height: 7.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.check-container .check-background {
  width: 100%;
  height: calc(100% - 1.25rem);
  background: linear-gradient(to bottom right, #5de593, #41d67c);
  box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
    0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  transform: scale(0.84);
  border-radius: 50%;
  animation: animateContainer 0.75s ease-out forwards 0.75s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.check-container .check-background svg {
  width: 65%;
  transform: translateY(0.25rem);
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: animateCheck 0.35s forwards 1.25s ease-out;
}
.check-container .check-shadow {
  bottom: calc(-15% - 5px);
  left: 0;
  border-radius: 50%;
  background: radial-gradient(closest-side, #49da83, transparent);
  animation: animateShadow 0.75s ease-out forwards 0.75s;
}

@keyframes animateContainer {
  0% {
    opacity: 0;
    transform: scale(0);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  25% {
    opacity: 1;
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  43.75% {
    transform: scale(1.15);
    box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  62.5% {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
  }
  81.25% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
}
@keyframes animateCheck {
  from {
    stroke-dashoffset: 80;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animateShadow {
  0% {
    opacity: 0;
    width: 100%;
    height: 15%;
  }
  25% {
    opacity: 0.25;
  }
  43.75% {
    width: 40%;
    height: 7%;
    opacity: 0.35;
  }
  100% {
    width: 85%;
    height: 15%;
    opacity: 0.25;
  }
}

/* ---------------------------------------- SINGLE PRODUCT PAGE ---------------------------------------- */
.single-product-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  padding: 5rem;
  margin-top: 2.5rem;
}
.product-info-single {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3rem 0 3rem 3rem;
}
.single-product-title {
  margin-bottom: 0.2rem;
}
.single-product-category {
  font-size: 0.7rem;
  margin: 0;
}
.single-product-price {
  width: 100%;
  text-align: left;
  font-weight: bold;
}
.single-product-desc {
  color: #90a8ca;
  font-size: 0.7rem;
}

@media (max-width: 880px) {
  .single-product-page {
    align-items: flex-start;
  }
  .single-product-page img {
    height: 400px;
  }
  .single-product-title {
    margin-top: 0;
  }
  .product-info-single {
    padding-top: 0;
  }
}
@media (max-width: 680px) {
  .single-product-page img {
    height: 300px;
  }
}
@media (max-width: 580px) {
  .single-product-page img {
    height: 300px;
  }
  .single-product-page {
    flex-direction: column;
    padding: 5rem 2rem;
  }
  .product-info-single {
    padding-left: 0;
    margin-top: 2rem;
  }
}
